.heading {
   font-size: 2rem;
}
#select{
    width: 10rem;
    border-radius: 10px;
    outline: none;
}
#pronuonce {
    font-size: 1.2rem;
}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .no_blink {
    animation: none;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }